body {
  color: #333;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

header {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.sacola {
  position: absolute;
  top: 0;
  right: 0;

  background-image: url(../../assets/img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;

  font-size: 14px;
  padding-top: 8px;
  padding-right: 35px;
  text-align: right;
  width: 140px;
}

.menu-opcoes ul {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15px;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}

.menu-opcoes a {
  color: #036;
}

.menu-opcoes a:hover {
  color: #007dc6;
}

.menu-opcoes a:active {
  color: #867cd6;
}

.busca {
  float: left;

  margin-right: 10px;
  width: 230px;
  
  background-color: #cdcdcd;
  font-weight: bold;
  text-transform: uppercase;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.busca input[type=search] {
  width: 170px;
}

.busca button {
  background-image: url(../../assets/img/busca.png);
  background-repeat: no-repeat;
  border: none;

  width: 20px;
  height: 20px;

  text-indent: -9999px;
}

.busca h2,
.busca form {
  margin: 10px;
}
